:root {
  --Dark_Black: rgb(24, 23, 23);
  --Light_black: rgb(48, 47, 47);
  --Primary: #6c63ff;
  --Secondary: #ff6584;
  --teal_background: #50e3c2;
  --text: rgb(19, 18, 18);
  --Background: #f9f9ff;
  --white: #f9f9ff;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Background);
}

nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

 
nav h1 {
    margin-left: 40px;
  color: var(--Primary);
  font-size: 28px;
  font-weight: bold;
}

 
nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  color: var(--text);
  text-decoration: none;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}

 
nav ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: var(--Primary);
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--Primary);
}

nav ul li a:hover::after {
  width: 100%;
}

 
.btn_group {
    margin-right: 20px;
  display: flex;
  gap: 15px;
}

.Createbtn {
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  background: var(--Primary);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.Createbtn:hover {
  background: var(--Secondary);
}

.LoginBtn {
  padding: 8px 18px;
  border: 1px solid var(--Primary);
  border-radius: 6px;
  background: transparent;
  color: var(--Primary);
  cursor: pointer;
}

.LoginBtn:hover {
  background: var(--Primary);
  color: white;
}