 

* { box-sizing: border-box; }
#body{
    overflow: hidden;
}
.book_section{
  margin: 0;
  display: flex;
  height: 100dvh;
  perspective: 1000px;
  font: 16px/1.4 sans-serif;
  overflow: hidden;
  background-color: #232425;
}

.book {
  display: flex;
  height: 70vh;           
  aspect-ratio: 4 / 3;   
  margin: auto;
 
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  rotate: 1 0 0 30deg;
}

.page {
  --thickness: 5;
  flex: none;
  display: flex;
  width: 100%;
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  border: 1px solid #0008;
  transform-origin: left center;
  transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)));
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front,
.back {
  flex: none;
  width: 100%;
  padding: 2rem;
  backface-visibility: hidden;
  background-color: #fff;
  translate: 0px;
}

.back {
  background-image: linear-gradient(to right, #fff 80%, #ddd 100%);
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}


/* 📱 MOBILE VIEW */
@media (max-width: 768px) {

  .book_section {
    height: calc(100dvh - 60px);
    padding: 10px;
  }

  .book {
    height: 45vh;              
    aspect-ratio: 3 / 4;       
    rotate: 0deg;              
  }

  .page {
    --thickness: 2;            
  }

  .front,
  .back {
    padding: 6px;             
  }

  .page img {
    object-fit: contain;      
  }
}

@media (max-width: 768px) {
  button {
    padding: 10px;
    font-size: 14px;
  }

  #prev-btn {
    left: 5px;
  }

  #next-btn {
    right: 5px;
  }
}


.page {
  touch-action: manipulation;
}